@import "./variables.scss";

.header {
    background: $dark;
    width: 100%;
    height: $headerHeight;
    padding: 0 1.5rem;
                &__logo {
                    margin-left: 30px;
                    height: 90px;
                }


}