@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

$Poppins : 'Poppins', sans-serif;

$primary : rgb(205,23,124);
$dark : rgb(21,34,54);
$light : #fff;

$spacing-md : 16px;
$spacing-lg : 32px;

$borderRadius : 12px;

$headerHeight : 100px;

@mixin breackpoint($point) {
    @if $point == md {
        @media () {
            
        }
    }
}