@import "../../styles/variables.scss";

.footer {
  position: fixed;
  
   bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $dark;
  width: 100%;
  height: $headerHeight;
  padding: 0 1.5rem;
  @include breakpoint(md) {
    padding: 0 3rem;
  }
  transition: 0.3s ease all;
  color: $light;
  &__span {
    &__name {
      color: $secondary;
    }
  }
  &__icons {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: white;
    &__icon {
      padding-right: 10px;
    }
  }
}
