@import "../../styles/variables.scss";
@import url();

.backg {
  background: $bg;
  height: 100%;
  width: 100%;
}
.container {
  // height: calc(100vh - #{$headerHeight});
  background: $bg;
  @include breakpoint(md) {
    padding: 0 3rem;
  }
  transition: 0.3s ease all;
  margin-bottom: 50px;
  margin-top: 50px;
  &__home {
    &__identificator {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__name {
        color: $primary;
      }
      &__title {
        color: $secondary;
      }
    }
    &__profile {
      height: 400px;
      border-radius: $borderRadius;
    }
    &__about {
      p {
        padding-left: 10px;
      }
    }
    &__portfolio {
      a {
        text-decoration: none;
        font-size: 20px;
        color: $secondary;
      }
      &__content {
        background: $gray;
        border-radius: $borderRadius;
        padding: 10px;
        &:hover {
          background: rgba($secondary, 0.1);
        }
      }
    }
  }
  &__contact {
    button {
      cursor: pointer;
      outline: none;
      padding: 0.75rem 1.25rem;
      border-radius: $borderRadius;
      font-size: 1rem;
      font-family: inherit;
      background: $primary;
      color: $dark;
      border: 1px solid transparent;
      transition: 0.3s ease all;

      &:hover {
        border-color: $primary;
        background: rgba($primary, 0.1);
        color: $primary;
      }
      &:active {
        border-color: $primary;
        background: linear-gradient(rgba($primary, 0.2), rgba($primary, 0.3));
        color: $primary;
      }
    }
    &__title {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 40px;
      }
    }
    &__content {
      margin-top: 50px;
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      flex-direction: row;
      &__left {
        ul {
          list-style: none;
        }
        li {
          align-items: center;
          justify-content: space-between;
          display: flex;
          border-radius: $borderRadius;
          background-color: rgba($secondary, 0.1);
          padding: 20px;
          margin-bottom: 40px;
        }
        i {
          background: $light;
          padding: 10px;
          border-radius: 50%;
        }
        &__span {
          margin-right: 20px;
        }
      }
      &__right {
        input,
        textarea {
          padding: 1.2rem;
          border-radius: $borderRadius;
          text-decoration: none;
          border: none;
          outline: none;
          width: 100%;
        }

        textarea {
          resize: vertical;
        }
      }
    }
    &__content::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 50%;
      background-color: $primary;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
    }
    @media only screen and (max-width: 768px) {
      &__content {
        flex-direction: column;
      }
      &__content::after {
        display: none;
      }
    }
    &__map {
      background: url(${MapImg}) no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 400px;
      // .container {
      //   position: relative;
      //   min-height: 400px;
      // }
      &__map__card {
        position: absolute;
        right: 10%;
        bottom: 10%;
        padding: 2rem;
        background: var(--deep-dark);
        width: 100%;
        max-width: 300px;
        border-radius: 12px;
      }
      &__map__card__heading {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      &__map__card__link {
        display: inline-block;
        font-size: 1.6rem;
        margin-top: 3rem;
        text-decoration: underline;
      }
      @media only screen and (max-width: 768px) {
        background-position: 80% center;
      }
      @media only screen and (max-width: 400px) {
        .map__card {
          max-width: none;
          right: auto;
        }
      }
    }
  }
}
