@import "../../styles/variables.scss";

.backg {
  background: $bg;
}
.container {
  margin-left: 90px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  &__home {
    &__identificator {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__name {
        color: $primary;
      }
      &__title {
        color: $secondary;
      }
    }
    &__profile {
      height: 400px;
      border-radius: $borderRadius;
    }
    &__portfolio{
      a{
        text-decoration: none;
        font-size: 20px;
        color: $secondary;
      }
      &__content{
        background: $gray;
        padding: 10px;
        &:hover {
          background: rgba($, 0.1);
      }
      &:active {
          border-radius: calc(#{$borderRadius} + 6px);
          background: linear-gradient(rgba($light, 0.1), rgba($light, 0.2));
      }
      }
    }
  }
}
