@import "../../styles/variables.scss";

.backg {
  background: $bg;
  height: 100%;
  width: 100%;
}
.container {
  // height: calc(100vh - #{$headerHeight});
  background: $bg;
  @include breakpoint(md) {
    padding: 0 3rem;
  }
  transition: 0.3s ease all;
  margin-bottom: 50px;
  margin-top: 50px;
  &__home {
    &__identificator {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__name {
        color: $primary;
      }
      &__title {
        color: $secondary;
      }
    }
    &__profile {
      max-height: 400px;
      border-radius: $borderRadius;
    }
    &__about {
      p {
        padding-left: 10px;
        max-width: 900px;
      }
      a {
        text-decoration: none;
        font-size: 20px;
        color: $secondary;
        &:hover{
          color: rgba($secondary, 0.5);
        }
      }
    }
    &__services {
      margin-bottom: 100px;
      margin-top: 100px;
      &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
      }
      &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        &__div {
          display: flex;
          align-items: center;
          flex-direction: column;
          p {
            margin-top: 10px;
            max-width: 250px;
            text-align: center;
          }
          h3 {
            color: rgba($primary, 0.5);
          }
          i {
            color: $primary;
            font-size: 25px;
          }
        }
      }
    }
    &__portfolio {
      a{
        
      }
      p {
        
          text-decoration: none;
        
        background: $gray;
        border-radius: $borderRadius;
        text-align: justify;
        padding: 10px;
        max-width: 400px;
        &:hover {
          background: rgba($secondary, 0.1);
          cursor: pointer;
        }
      }
      img {
        max-height: 400px;
        max-width: 400px;
        border-radius: $borderRadius;
      }
      &__more{
        text-align: center;
        font-size: 18px;
        a{
          text-decoration: none;
          color: $secondary;
          &:hover{
            color: rgba($secondary, 0.5);
          }
        }
      }
    }
  }
  &__contact {
    button {
      cursor: pointer;
      outline: none;
      padding: 0.75rem 1.25rem;
      border-radius: $borderRadius;
      font-size: 1rem;
      font-family: inherit;
      background: $primary;
      color: $dark;
      border: 1px solid transparent;
      transition: 0.3s ease all;

      &:hover {
        border-color: $primary;
        background: rgba($primary, 0.1);
        color: $primary;
      }
      &:active {
        border-color: $primary;
        background: linear-gradient(rgba($primary, 0.2), rgba($primary, 0.3));
        color: $primary;
      }
    }
    &__title {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 40px;
      }
    }
    &__content {
      margin-top: 50px;
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      flex-direction: row;
      &__left {
        ul {
          list-style: none;
        }
        li {
          align-items: center;
          justify-content: space-between;
          display: flex;
          border-radius: $borderRadius;
          background-color: rgba($secondary, 0.1);
          padding: 20px;
          margin-bottom: 40px;
        }
        i {
          background: $light;
          padding: 10px;
          border-radius: 50%;
        }
        &__span {
          margin-right: 20px;
        }
      }
      &__right {
        input,
        textarea {
          padding: 1.2rem;
          border-radius: $borderRadius;
          text-decoration: none;
          border: none;
          outline: none;
          width: 100%;
        }

        textarea {
          resize: vertical;
        }
      }
    }
    &__content::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 50%;
      background-color: $primary;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
    }
    @media only screen and (max-width: 768px) {
      &__content {
        flex-direction: column;
      }
      &__content::after {
        display: none;
      }
    }
    
  }
  &__about {
    &__identificator {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__name {
        color: $primary;
      }
      &__identify {
        font-size: 20px;
      }
      &__title {
        color: $secondary;
      }
      margin-bottom: 20px;
    }
    &__profile {
      height: 400px;
      border-radius: $borderRadius;
    }
    p {
      max-width: 600px;
    }
    &__rest {
      h1 {
        color: $primary;
      }
      &__part {
        div {
          margin-bottom: 20px;
        }
        display: flex;
        &__col1 {
          margin-right: 100px;
        }
        &__col2 {
          span {
            border-radius: $borderRadius;
            background-color: rgba($secondary, 0.1);
            padding: 5px 10px;
          }
        }
      }
    }
  }
  &__portfolio {
    &__search {
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
      input {
        padding: 0.8rem;
        border-radius: $borderRadius;
        text-decoration: none;
        border: none;
        outline: none;
        max-width: 400px;
        width: 400px;
        &:focus{
          border: 1px solid;
          border-color: rgba($primary, 0.5);
        }
      }
    }
    &__content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      div {
        margin-bottom: 30px;
        margin-right: 30px;
      }
      p {
        a{
          text-decoration: none;
        }
        background: $gray;
        border-radius: $borderRadius;
        text-align: justify;
        padding: 10px;
        max-width: 400px;
        &:hover {
          background: rgba($secondary, 0.1);
          cursor: pointer;
        }
      }
      img {
        max-height: 400px;
        max-width: 400px;
        border-radius: $borderRadius;
      }
    }
  }
}
