@import "./../styles/variables.scss";

.header{
    background: $dark;
    width: 100%;
    height: $headerHeight;
    padding: 0 1.5rem;
    @include breackpoint(md){
        padding: 0 3rem;
    }

    transition: 0.3s ease all;

    &__content{
        overflow: hidden;
        color: $light;
        margin: 0 auto;
        max-width: 1920px;
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 100;

        &__logo{
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
        }

        &__nav{
            top: 0;
            right: 100%;
            bottom: 0;
            width: 100%;
            height: 100vh;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: rgba($dark, 0.9);
            backdrop-filter: blur(2px);
            transform: translate(0);
            transition: 0.3s ease transfrom;

            @include breackpoint(md){
                transform: none;
                flex-direction: row;
                background: ;
            }
        }
    }
}