@import "./../styles/variables.scss";

.backg {
  background: $bg;
}
.container {
  height: calc(100vh - #{$headerHeight});
  margin-left: 90px;
  margin-right: 50px;
  &__home {
    margin-top: 50px;
    &__identificator {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__profile {
      height: 400px;
    }
    span {
      color: rgb(21, 115, 202);
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $dark;
    width: 100%;
    height: $headerHeight;
    padding: 0 1.5rem;
    @include breakpoint(md) {
      padding: 0 3rem;
    }
    transition: 0.3s ease all;
    &__name {
        color: $light;
      }
    span {
      color: $light;
    }
  }
}
