@import "./../styles/variables.scss";

.backg{
    background: $bg;
    height: 100%;
}
.container {
  
  &__home {
    margin-top: 50px;
    &__identificator{
        display: flex;
    }
    &__profile {
      height: 400px;
    }
    span {
      color: rgb(21, 115, 202);
    }
  }
}
