@import "./../styles/variables.scss";

.container {
  height: calc(100vh - #{$headerHeight});
  background: $bg;
  display: flex;
  justify-content: center;
  align-items: center;
  &__home {
    &__profile {
      height: 400px;
    }

    span {
      color: rgb(21, 115, 202);
    }
  }
}
